@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

#first {
    font-family: 'Open Sans', sans-serif;
}

#div1 {
    width:40%;
    float: left;
    

}

#div2 {
    width:40%;
    float:left;
    margin-bottom: 25px;
}

#div3 {
    width: 60%;
}

label {
    padding: 1rem 0;
}

form {
    width: 1000px;
    margin: 2rem 2rem;
    padding: 2rem auto;
}


label {
    display: block;
    padding: 1.5rem auto 1rem;
}

input {
    width: 80%;
    height: 20px;
}


textarea {
    display: block;
    width: 600px;
    height: 400px;
    resize: none;
    padding: 1rem auto;
}

input, textarea {
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    border: none;
    box-shadow: 0px 3px 2px rgb(91, 180, 209);
    padding: 1rem auto;
}

input:focus, textarea:focus {
    border-radius: 5px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 3px 2px rgb(70, 70, 189);
}

#send {
    float: right;
    border-radius: 5px;
    cursor:pointer;
    margin: 1rem 0;
    transition: ease 0.3s;
    padding: 10px;
    border: none;
}

#send:hover {
    background-color: rgb(62, 87, 168);
}

@media screen and (max-width: 620px) {
    form {
        width: 600px;
    }

    #div1 {
        width: 100%;
        float:none;

    }

    #div2 {
        width: 100%;
        float: none;
    }

    #div3 {
        width: 100%;
        float: none;
    }

    textarea {
        width: 80%;
        height: 100px;
    }

    #send {
        float: left;
    }

    input {
        height: 30px;
    }
}